<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th style="min-width: 100px;"></th>
      <th style="min-width: 100px;">name</th>
      <th style="min-width: 100px;">ingredients</th>
      <th style="min-width: 100px;">steps</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>3728</th>
      <td>days of summer oatmeal</td>
      <td>rolled oats,unsweetened applesauce,apple,soymilk,dried fruit,honey</td>
      <td>mix first 4 ingredients together in bowl and chill overnight,before serving , sprinkle with condiments,taste before using the sweetener as it may be sweet enough for you</td>
    </tr>
    <tr>
      <th>7152</th>
      <td>simple strawberry sorbet</td>
      <td>strawberry,sugar,water</td>
      <td>freeze strawberries for 2 hours or until hard,place strawberries and sugar into a food processor and pulse machine on and off until fruit is broken up,add water and continue processing until you have a smooth puree,transfer to a container and freeze for 2 hours , or until firm enough to scoop,i stir the mixture every 30 mins or so</td>
    </tr>
    <tr>
      <th>8396</th>
      <td>blasted broccoli</td>
      <td>broccoli florets,olive oil,sea salt,balsamic vinegar</td>
      <td>preheat the oven to 500 degrees fahrenheit,arrange the broccoli florets in a single layer on a baking sheet,toss florets with olive oil and salt,roast just until cooked through and slightly brown and crispy at the edges , just a few minutes,remove the broccoli to a bowl,toss with balsamic vinegar to taste,serve immediately</td>
    </tr>
    <tr>
      <th>12236</th>
      <td>best ever roast potatoes</td>
      <td>floury potatoes,avocado oil,fresh rosemary leaves,salt,pepper</td>
      <td>preheat oven to 190c / 375f / gas mark 5 , or for convection cooking: 170c / 350f,peel potatoes and cut in half,put in a pan of salted cold water,bring to the boil and simmer for 7-8 minutes until almost cooked,drain thoroughly using a colander , then shake the potatoes around a little in the colander until the outsides are roughened,place in roasting pan , sprinkle with avocado oil , rosemary,season with salt and pepper,cook in oven at 190c / 375f until golden crisp , about 45-60 minutes</td>
    </tr>
    <tr>
      <th>6847</th>
      <td>baby s giblet gravy</td>
      <td>chicken broth,salt and pepper,eggs,flour,cold water,turkey giblets</td>
      <td>bring broth , eggs , and giblets to boil,combine flour with water,stir into broth to slightly thicken</td>
    </tr>
    <tr>
      <th>8292</th>
      <td>sam s hot peaches</td>
      <td>peaches,butter,lemon, juice of,brown sugar,vanilla ice cream</td>
      <td>boil enough water to cover peaches,drop peaches in boiling water for about 1 minute,drain water and when cool enough to touch , remove peach skins,slice peaches into crescent shapes and saute in butter for about 5 minutes until thoroughly warmed,squeeze lemon over top and add brown sugar,saute for another minute or 2,remove from heat and serve over very good vanilla ice cream,this is not the time to buy lousy ice cream - really good ice cream will make a difference</td>
    </tr>
    <tr>
      <th>12451</th>
      <td>painkiller mocktail british virgin islands</td>
      <td>pineapple juice,cream of coconut,orange juice,fresh nutmeg</td>
      <td>in a cocktail shaker filled with ice add first four ingredients and stir,pour into 2 ice filled cocktail glasses and top with grated nutmeg</td>
    </tr>
    <tr>
      <th>5182</th>
      <td>sugar free pineapple or strawberry dessert 2 ww points per cup</td>
      <td>sugar-free vanilla pudding mix,crushed pineapple,strawberry yogurt</td>
      <td>mix all ingredients and refrigerate, "thats all there is to it !",can be frozen !</td>
    </tr>
    <tr>
      <th>10450</th>
      <td>duck key snowbird</td>
      <td>orange juice,lemon juice,sugar,mint leaf,dark rum,seltzer water</td>
      <td>place orange juice , lemon juice , sugar and crushed mint leaves in a large covered container,stir to mix well,refrigerate overnight,in each of 6 large tulip glasses filled with ice , place 1 1 / 2 ounces rum , 6 ounces orange juice mixture , and a splash of seltzer,stir to mix,garnish with a sprig of mint</td>
    </tr>
    <tr>
      <th>7740</th>
      <td>butternut squash with garlic and olive oil</td>
      <td>olive oil,garlic cloves,butternut squash,fresh ground pepper</td>
      <td>preheat oven to 400f,peel and cube squash,in a large bowl mix minced garlic and olive oil,add cubed squash and coat with the oil mixture,dump all ingredients out of bowl and in to a glass casserole dish,any size will do really but it will cook faster if it is more spread out,cook 40-45 minutes , stirring once or twice,squash is done when it is tender</td>
    </tr>
  </tbody>
</table>